.sidenav li>a {
  color: #fff;
}

header{
background-image: url("/public/images/background.jpg");
background-size: cover;
background-position: center;
min-height: 600px;

}

.section{
padding-top: 4vw;
padding-bottom: 4vw;
}

.row{
padding-bottom: 5vw;
}

.tabs .indicator{
background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
background: transparent;
}

.adjust-size{
height:350px;
}

/* .center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */